@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.cdnfonts.com/css/lucida-handwriting-std');
/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fefefe;
  color: #490034;
}
p {
  font-size: 18px;
}

h2 {
  text-align: center;
  color: #ff0bac;
  margin-bottom: 30px;
  font-family: 'Lucida Handwriting Std';
  &.amber {
    color: #fec437;
  }
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

hr.separator {
  margin: 0 auto;
  color: #490034;
}
footer {
  background-color: #8155ba;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #fff;
}

header {
  color: #454362;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  min-height: 500px;
}

a.btn.rsvp {
  margin-top: 20px;
  padding: 12px;
  background-color: #8155ba;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  color: white;

  &:hover {
    background-color: #b392ff;
    opacity: 0.8;
  }
}

a.btn {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  :hover {
    color: inherit;
    background-color: inherit;
    border-color: var(--bs-btn-hover-border-color);
    opacity: 0.8;
  }
}

header img {
  width: 80%;
  height: auto;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}
.header-text {
  width: 100%;
  top: 80px;
  text-align: center;
}
header h1 {
  font-size: 8em;
  font-family: 'Lucida Handwriting Std';
}

header h2 {
  font-size: 5em;
  margin-top: 0;
}

header p {
  font-size: 1.5em;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.event-details {
  gap: 12px;
  .event-detail {
    border-color: #fe5bd6;
    padding: 60px 30px;
    &.where {
      border-color: #ff0bac;
    }
    a.btn:hover {
      background-color: #fdbcfd;
      color: #000;
    }
  }
}
.event-details-divider {
  display: flex;

  justify-content: center;
  margin-top: 40px;
  img {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .event-details-divider {
    img {
      max-width: 320px;
    }
  }
}

.baby-registry {
  padding: 30px;
  /*background-color: #ffdafd;*/
  .card {
    max-width: 18rem;
    /*background-color: #fff8f9;*/
    img {
      max-width: 100%;
      max-height: 200px;
      object-fit: cover;
    }
  }
}

.baby-registry-card {
  text-decoration: none;
  color: #333;
  border-radius: 0.5rem;
  border: #333 solid 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-color: #fec437;
  /*background-color: #ffdbf5;*/
  &:hover {
    background-color: #ffe190;
  }
  p {
    text-decoration: none;
  }
  .baby-registry-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    p {
      margin-bottom: 0px;
    }
  }
  .baby-registry-card-image {
    border-radius: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 300px;
      max-height: 200px;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

// .baby-registry .baby-registry img {
//   max-width: 80%;
//   max-height: 200px;
// }

.parallax {
  /* The image used */
  background-image: url('/parallax-1.jpeg');
  background-size: 46%;

  /* Set a specific height */
  margin: 0 auto;
  min-height: 300px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;

  //background-size: cover;
}
.parallax img {
  max-height: 270px;
}

@media (max-width: 791px) {
  header {
    min-height: 300px;
  }
  header h1 {
    font-size: 3.2em;
  }
  header h2 {
    font-size: 2em;
  }

  header p {
    font-size: 1.5em;
  }
}

.banner-decorator {
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 10;

  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 50%;
}
.leaf-vertical {
  position: absolute;
  left: auto;
  top: auto;
  bottom: calc((min(50cqw, 50cqh) / 16));
  right: calc((-1 * (min(50cqw, 50cqh) / 8)) - 12px);
  transform: rotateY(180deg);

  max-height: min(50cqw, 50cqh);
  max-width: min(50cqw, 50cqh);
  aspect-ratio: 1/1;
  & > svg {
    width: 100%;
    height: 100%;
    max-height: min(50cqw, 50cqh);
    max-width: min(50cqw, 50cqh);
    aspect-ratio: 1;
  }
}
.leaf-horizontal {
  position: absolute;
  bottom: 0;
  right: 0;
  //transform: translateY(50%);
  right: calc((min(50cqw, 50cqh) / 16) - 0px);
  bottom: calc((-1 * (min(50cqw, 50cqh) / 8)) - 12px);
  & > svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.daisy-flower {
  position: absolute;
  bottom: 30px;
  right: 3cqb;
  height: 24px;
  width: 24px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}
.daisy-flower-top {
  position: absolute;
  bottom: 75px;
  right: 50px;
  height: 36px;
  width: 36px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}
.daisy-flower-left {
  position: absolute;
  bottom: 45px;
  right: 70px;
  height: 18px;
  width: 18px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.flowers {
  position: absolute;
  max-height: min(30dvh, 30dvw);
  max-height: min(30dvh, 30dvw);
  aspect-ratio: 1/1;
  bottom: 0;
  right: 10px;
  & > svg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
}
.flowers-rotated {
  transform: rotate(180deg);
  top: 10px;
  left: 10px;
  right: auto;
  bottom: auto;
}
.banner {
  min-height: 70dvh;
}
.banner-content {
  //padding: 350px 50px;
}
.questions a.btn {
  border-color: #ff0bac;
  justify-content: center;

  &:hover {
    background-color: #fdbcfd;
    color: #000;
  }
}
@media (min-width: 768px) {
  .banner-content {
  }
  .banner {
    min-height: 100dvh;
  }
  .baby-registry {
    padding: 60px;
    padding-bottom: 0;
  }
  .questions a.btn {
    max-width: 40%;
  }
  .flowers {
    right: 20px;
  }
  .flowers-rotated {
    top: 20px;
    left: 20px;
  }
}
