@import 'bootstrap/scss/bootstrap';

/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff8f9;
  color: #333;
}
p {
  font-size: 18px;
}

h2 {
  text-align: center;
  color: #d57f91;
  margin-bottom: 30px;
  font-family: 'Lucida Handwriting';
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background-color: #f9dbe6;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}

header {
  color: #454362;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  min-height: 500px;
}

a.btn.rsvp {
  margin-top: 20px;
  padding: 12px;
  background-color: #b392ff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  color: white;

  &:hover {
    background-color: #b392ff;
    opacity: 0.8;
  }
}

a.btn {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  :hover {
    color: inherit;
    background-color: inherit;
    border-color: var(--bs-btn-hover-border-color);
    opacity: 0.8;
  }
}

header img {
  width: 80%;
  height: auto;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}
.header-text {
  width: 100%;
  top: 80px;
  text-align: center;
}
header h1 {
  font-size: 8em;
  font-family: 'Lucida Handwriting';
}

header h2 {
  font-size: 5em;
  margin-top: 0;
}

header p {
  font-size: 1.5em;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.event-detail {
  background-color: #ffe5f8;
  padding: 60px 30px;
}
.event-detail.where {
  background-color: #ffdafd;
}

.baby-registry {
  padding: 60px;
  background-color: #ffdada;
}
.baby-registry img {
  max-width: 80%;
  height: 120px;
}

.parallax {
  /* The image used */
  background-image: url('/parallax.png');
  background-size: 46%;

  /* Set a specific height */
  margin: 0 auto;
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.parallax img {
  max-height: 270px;
}

@media (max-width: 791px) {
  header {
    min-height: 300px;
  }
  header h1 {
    font-size: 3.2em;
  }
  header h2 {
    font-size: 2em;
  }

  header p {
    font-size: 1.5em;
  }
  .parallax {
    background-size: 80%;
    min-height: 300px;
  }
}

.banner-decorator {
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 10;

  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 50%;
}
.leaf-vertical {
  position: absolute;
  left: auto;
  top: auto;
  bottom: calc((min(50cqw, 50cqh) / 16));
  right: calc((-1 * (min(50cqw, 50cqh) / 8)) - 12px);
  transform: rotateY(180deg);

  max-height: min(50cqw, 50cqh);
  max-width: min(50cqw, 50cqh);
  aspect-ratio: 1/1;
  & > svg {
    width: 100%;
    height: 100%;
    max-height: min(50cqw, 50cqh);
    max-width: min(50cqw, 50cqh);
    aspect-ratio: 1;
  }
}
.leaf-horizontal {
  position: absolute;
  bottom: 0;
  right: 0;
  //transform: translateY(50%);
  right: calc((min(50cqw, 50cqh) / 16) - 0px);
  bottom: calc((-1 * (min(50cqw, 50cqh) / 8)) - 12px);
  & > svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.daisy-flower {
  position: absolute;
  bottom: 30px;
  right: 3cqb;
  height: 24px;
  width: 24px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}
.daisy-flower-top {
  position: absolute;
  bottom: 75px;
  right: 50px;
  height: 36px;
  width: 36px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}
.daisy-flower-left {
  position: absolute;
  bottom: 45px;
  right: 70px;
  height: 18px;
  width: 18px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.flowers{
  position: absolute;
  max-height: min(30dvh,30dvw);
  max-height: min(30dvh,30dvw);
  aspect-ratio: 1/1;
  bottom: 0;
  right: 0;
  & > svg{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
}
.flowers-rotated{
  transform: rotate(180deg);
  top: 0 ;
  left: 0;
  right: auto;
  bottom: auto;
}
.banner{
  min-height: 70dvh;
}
.banner-content{
  //padding: 350px 50px;
  
}
@media (min-width:768px) {
  .banner-content{

  }
  .banner{
    min-height: 100dvh;
  }
}